version: '3.2'
networks:
  default:
    external:
      name: update-compose-network

services:

  rawrepoDb:
    image: docker-io.dbc.dk/rawrepo-postgres-1.13-snapshot:DIT-5016
    environment:
      - POSTGRES_DB=rawrepo
      - POSTGRES_USER=rawrepo
      - POSTGRES_PASSWORD=thePassword
    expose:
      - "5432"
    ports:
      - "5432"

  holdingsitemsDb:
    image: docker-os.dbc.dk/holdings-items-postgres-1.1.4:latest
    environment:
      - POSTGRES_DB=holdingsitems
      - POSTGRES_USER=holdingsitems
      - POSTGRES_PASSWORD=thePassword
    expose:
      - "5432"
    ports:
      - "5432"

  updateserviceDb:
    image: docker-i.dbc.dk/update-postgres:${PROD_VERSION}
    environment:
      - POSTGRES_DB=updateservice
      - POSTGRES_USER=updateservice
      - POSTGRES_PASSWORD=thePassword
    expose:
      - "5432"
    ports:
      - "5432"

  fakeSmtp:
    image: docker-i.dbc.dk/fakesmtp

  updateservice:
    image: docker-i.dbc.dk/update-payara-deployer:${PROD_VERSION}
    env_file:
      - db.env
      - providers.env
      - settings.env
    environment:
      - INSTANCE_NAME=${USER}_dev
      - OPENAGENCY_URL=${DEV_OPENAGENCY_URL}
      - OPENNUMBERROLL_URL=${DEV_NUMBERROLL_URL}
      - JAVA_MAX_HEAP_SIZE=4G
      - RAWREPO_DB_URL=${DEV_RAWREPO_DB_URL}
      - HOLDINGS_ITEMS_DB_URL=${DEV_HOLDINGS_ITEMS_DB_URL}
      - UPDATE_DB_URL=${DEV_UPDATE_DB_URL}
      - SOLR_URL=${DEV_SOLR_URL}
      - SOLR_BASIS_URL=${DEV_SOLR_BASIS_URL}
      - OPENCAT_BUSINESS_URL=${DEV_OPENCAT_BUSINESS_SERVICE_URL}
    extra_hosts:
      - "solrserver:${HOST_IP}"
      - "solrbasis:${HOST_IP}"
    volumes:
      - "../../distributions:/opt/payara5/deployments/opencat-business/distributions"
    expose:
      - "8080"
      - "8686"
      - "4848"
    ports:
      - "8080"
      - "8686"
      - "4848"

  updateservice-facade:
    image: docker-io.dbc.dk/updateservice-facade:master-31
    environment:
      - UPDATE_SERVICE_URL=${UPDATE_SERVICE_URL}
      - BUILD_SERVICE_URL=${BUILD_SERVICE_URL}
      - JAVA_MAX_HEAP_SIZE=2G
    ports:
      - "8080"
      - "8686"
      - "4848"

  opencat-business-service:
    image: docker-io.dbc.dk/opencat-business-service:devel
    environment:
      - INSTANCE_NAME=${USER}_dev
      - FORSRIGHTS_URL=https://forsrights.addi.dk/2.0/
      - OPENAGENCY_URL=${DEV_OPENAGENCY_URL}
      - RAWREPO_RECORD_SERVICE_URL=${DEV_RAWREPO_RECORD_SERVICE_URL}
      - OPENAGENCY_CACHE_AGE=0
      - OPENNUMBERROLL_URL=${DEV_NUMBERROLL_URL}
      - OPENNUMBERROLL_NAME_FAUST=faust
      - OPENNUMBERROLL_NAME_FAUST_8=faust
      - JAVASCRIPT_POOL_SIZE=1
      - DOUBLE_RECORD_MAIL_FROM=empty
      - DOUBLE_RECORD_MAIL_PASSWORD=empty
      - DOUBLE_RECORD_MAIL_RECIPIENT=empty
      - DOUBLE_RECORD_MAIL_USER=pers1@dbc.dk;pers2@dbc.dk
      - DOUBLE_RECORD_MAIL_HOST=mailhost.dbc.dk
      - DOUBLE_RECORD_MAIL_PORT=25
      - SOLR_URL=${DEV_SOLR_URL}
      - JAVA_MAX_HEAP_SIZE=2G
    volumes:
      - "../../distributions:/opt/payara5/deployments/opencat-business/distributions"
    extra_hosts:
      - "solrserver:${HOST_IP}"
    ports:
      - "8080"
      - "8686"
      - "4848"

  rawrepo-record-service:
    image: docker-io.dbc.dk/rawrepo-record-service:DIT-281
    environment:
      - INSTANCE_NAME=${USER}_dev
      - OPENAGENCY_URL=${DEV_OPENAGENCY_URL}
      - OPENAGENCY_CACHE_AGE=0
      - RAWREPO_URL=${DEV_RAWREPO_DB_URL}
      - HOLDINGS_URL=${DEV_HOLDINGS_ITEMS_DB_URL}
      - DUMP_THREAD_COUNT=8
      - DUMP_SLICE_SIZE=1000
      - JAVA_MAX_HEAP_SIZE=2G
    ports:
      - "8080"
      - "8686"
      - "4848"